@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 48em) {
  .contact {
    margin-top: 1.5rem;
  }
}

.contact-map {
  border: 1px solid #999;
  width: 100%;
  height: 26rem;
}

@media (max-width: 48em) {
  .contact-map {
    height: 17rem;
  }
}

.contact-info {
  line-height: 1.5rem;
}

.contact-form {
  padding-right: 50px;
}

@media (max-width: 27em) {
  .contact-form {
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.contact-form h3 {
  padding-bottom: 20px;
}

@media (max-width: 48em) {
  .contact-form h3 {
    font-size: 1.5rem;
  }
}

.contact-form button {
  background-color: #999;
  border: none;
}

.contact-form button:hover {
  background-color: #4d4d4d;
}

.social-icons {
  color: #999;
}

.social-icons:hover {
  color: black;
}

footer {
  background-color: #f4f4f4;
  padding: .5rem;
  font-size: 0.8rem;
  margin-top: 3rem;
}

@media (max-width: 64em) {
  footer {
    margin-top: 2rem;
  }
}

@media (max-width: 27em) {
  footer {
    margin-top: 1.5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer a {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.footer a:hover {
  text-decoration: none;
  color: black;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-item {
  margin: 1.2rem;
}

@media (max-width: 64em) {
  .gallery-item {
    margin: .8rem;
  }
}

@media (max-width: 48em) {
  .gallery-item {
    margin: .5rem;
  }
}

@media (max-width: 27em) {
  .gallery-item {
    margin: .2rem;
  }
}

.gallery a {
  text-decoration: none;
}

.gallery-item img {
  position: absolute;
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 3%;
}

@media (min-width: 112.5em) {
  .gallery-item img {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 48em) {
  .gallery-item img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 27em) {
  .gallery-item img {
    width: 10rem;
    height: 10rem;
  }
}

.text-wrapper {
  position: relative;
  width: 18.5rem;
  height: 18.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  border-radius: 3%;
}

@media (min-width: 112.5em) {
  .text-wrapper {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 48em) {
  .text-wrapper {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 27em) {
  .text-wrapper {
    width: 10rem;
    height: 10rem;
  }
}

.text-wrapper:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name {
  font-size: 1.5em;
}

#slider img {
  max-width: 85%;
  margin: auto;
}

.intro {
  padding-top: 30px;
}

.intro hr {
  width: 80%;
  text-align: center;
}

.intro p {
  font-size: 0.9em;
  line-height: 1.7em;
  text-align: justify;
}

.carousel-control-prev {
  padding-left: 20px;
}

.carousel-control-next {
  padding-right: 20px;
}

.welcome-image {
  width: 100%;
  padding-top: 50px;
}

.nav-menu {
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 112.5em) {
  .nav-menu {
    font-size: 1.2rem;
    margin: 1.5rem 5rem 3rem 5rem;
  }
}

@media (max-width: 64em) {
  .nav-menu {
    font-size: .8rem;
    margin: 1rem 1.5rem;
  }
}

@media (max-width: 48em) {
  .nav-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48em) {
  .nav-items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-logo {
  height: 3.5rem;
  padding-bottom: 0.5em;
}

@media (max-width: 48em) {
  .nav-logo {
    display: none;
  }
}

@media (min-width: 112.5em) {
  .nav-logo {
    height: 5rem;
  }
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48em) {
  .nav-links {
    color: white;
    padding-top: .6rem;
    opacity: .7;
  }
}

.nav-links:not(:last-child) {
  margin-right: 1.4rem;
}

@media (max-width: 64em) {
  .nav-links:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 112.5em) {
  .nav-links:not(:last-child) {
    margin-right: 3.5rem;
  }
}

@media (max-width: 27em) {
  .nav-links {
    margin-top: .2rem;
  }
}

.nav-links-show {
  display: block;
}

.nav-title {
  justify-self: end;
  margin-right: 2rem;
}

@media (min-width: 112.5em) {
  .nav-title {
    margin-right: 3rem;
  }
}

@media (max-width: 64em) {
  .nav-title {
    margin-right: 1.3rem;
  }
}

@media (max-width: 48em) {
  .nav-title {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
  }
}

.nav-title p {
  margin: 0;
}

.nav-title {
  text-decoration: none;
  color: #999;
}

.nav-title:hover {
  text-decoration: none;
  color: black;
}

.nav-icon {
  display: none;
}

@media (max-width: 48em) {
  .nav-icon {
    display: block;
    position: absolute;
    z-index: 50;
  }
}

.nav-icon--active {
  color: white;
  position: fixed;
  opacity: .7;
}

.link-active {
  color: black;
  font-weight: bold;
}

@media (max-width: 48em) {
  .nav-menu__mobile {
    display: none;
    padding: 2rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #00B4DB;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 15px 0 30px 0 rgba(0, 0, 0, 0.11), 5px 0 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 15px 0 30px 0 rgba(0, 0, 0, 0.11), 5px 0 15px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 30;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

.nav-menu__mobile-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: moveInLeft .2s ease-in;
          animation: moveInLeft .2s ease-in;
}

.card-expo {
  width: 100%;
  margin-right: 2%;
  margin-top: 30px;
}

.card-expo img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.empty-text {
  padding-top: 20px;
  padding-left: 20px;
}

.card-header {
  padding: .5rem 1.25rem;
}

@media (min-width: 112.5em) {
  .card-header {
    padding: .75rem 1.5rem;
  }
}

@media (max-width: 64em) {
  .card-header {
    padding: .4rem .75rem;
  }
}

@media (max-width: 27em) {
  .card-header {
    padding: .3rem .5rem;
  }
}

.exposition__title {
  font-size: .95rem;
}

.exposition__title:hover {
  text-decoration: none;
}

@media (min-width: 112.5em) {
  .exposition__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 64em) {
  .exposition__title {
    font-size: .9rem;
  }
}

@media (max-width: 27em) {
  .exposition__title {
    font-size: .85rem;
  }
}

.exposition__image {
  width: 30%;
}

@media (max-width: 27em) {
  .exposition__image {
    width: 50%;
  }
}

.partner-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__image {
  max-width: 12rem;
  max-height: 6rem;
}

@media (min-width: 112.5em) {
  .partner__image {
    max-width: 16rem;
    max-height: 8rem;
  }
}

@media (max-width: 48em) {
  .partner__image {
    max-width: 10rem;
    max-height: 5rem;
  }
}

@media (max-width: 27em) {
  .partner__image {
    max-width: 8rem;
    max-height: 4rem;
  }
}

.img-gallery-partner {
  width: 20%;
}

.img-gallery-partner img {
  width: 100%;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 48em) {
  .partners__list {
    margin-top: 1rem;
  }
}

.link-partner {
  padding: 20px 30px 40px 30px;
}

.partner__infos {
  margin-right: 2rem;
}

@media (max-width: 64em) {
  .partner__infos {
    margin-right: 1rem;
  }
}

@media (max-width: 48em) {
  .partner__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.partner__description {
  text-align: justify;
}

@media (max-width: 48em) {
  .slider-controls {
    display: none;
  }
}

.item-image {
  width: 100%;
}

.item-description {
  margin-top: 3rem;
  margin-right: 4rem;
}

@media (max-width: 64em) {
  .item-description {
    margin-top: 1rem;
    margin-right: 3rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 48em) {
  .item-description {
    margin-left: 1rem;
  }
}

@media (max-width: 27em) {
  .item-description {
    margin: .8rem;
    font-size: 0.8rem;
  }
}

.item-features {
  font-weight: 300;
  font-style: oblique;
  margin-bottom: 0.1rem;
}

.item-description h1 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

@media (max-width: 64em) {
  .item-description h1 {
    font-size: 1.5em;
  }
}

.item-explication {
  padding-top: 0.5em;
  text-align: justify;
}

.main-img {
  display: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img img,
.thumbnail-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: -14px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -15px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  color: black !important;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48em) {
  .product__images {
    margin-right: 1rem;
  }
}

.product__main-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Six columns side by side */

.thumbnails {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: solid 1px #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.thumbnails:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.thumbnails-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  margin-left: 1rem;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumbnail-img {
  opacity: 0.6;
}

.thumbnail-border {
  border: solid 1px #999;
}

.thumbnail-active,
.thumbnail-img:hover {
  opacity: 1;
}

.item-description hr,
.partner-show hr {
  width: 50%;
  margin-left: 0;
}

@media (max-width: 48em) {
  .profile-image {
    padding-left: 1rem;
  }
}

@media (max-width: 27em) {
  .profile-image {
    padding-left: .7rem;
    padding-right: .7rem;
    margin-bottom: 2rem;
  }
}

.profile-image img {
  width: 100%;
}

.profile-bio {
  text-align: justify;
}

@media (max-width: 48em) {
  .profile-bio {
    padding-right: 1rem;
  }
}

@media (max-width: 64em) {
  .profile-bio {
    padding-right: .7rem;
    padding-left: .7rem;
  }
}

.main-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  -webkit-animation: logo 1s ease-in;
          animation: logo 1s ease-in;
}

.logo:hover {
  opacity: .7;
}

.logoimg {
  width: 55%;
}

@media (max-width: 48em) {
  .logoimg {
    width: 70%;
  }
}

@media (max-width: 48em) {
  .logoimg {
    width: 40%;
  }
}

.text-sub-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}

.sub-title {
  text-transform: uppercase;
  -webkit-animation: moveInBottom 1s ease-in .5s;
          animation: moveInBottom 1s ease-in .5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  letter-spacing: .5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #3c3c3b;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sub-title:hover {
  text-decoration: none;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 112.5em) {
  .sub-title {
    letter-spacing: .8rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 48em) {
  .sub-title {
    letter-spacing: .2rem;
    font-size: 1rem;
  }
}

.h-bar {
  width: 10%;
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  opacity: .5;
  border-bottom: 1px solid #464646;
  -webkit-animation: makeVisible ease-in 1s 1s;
          animation: makeVisible ease-in 1s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 48em) {
  .h-bar {
    width: 15%;
  }
}

@media (max-width: 27em) {
  .h-bar {
    width: 30%;
  }
}

@font-face {
  font-family: "Gill";
  src: url("/font/170912085356Gill.woff") format("woff");
}

html,
body {
  height: 100%;
  font-family: "Gill", sans-serif;
}

body {
  font-size: 90%;
  color: #636b6f;
}

@media (min-width: 112.5em) {
  body {
    font-size: 130%;
  }
}

a {
  color: black;
}

a:hover {
  color: #b1b1b1;
}

.main {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  margin-bottom: auto;
}

