@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 48em) {
  .contact {
    margin-top: 1.5rem;
  }
}

.contact__form {
  padding-right: 50px;
}

@media (max-width: 27em) {
  .contact__form {
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.contact__form h3 {
  padding-bottom: 20px;
}

@media (max-width: 48em) {
  .contact__form h3 {
    font-size: 1.5rem;
  }
}

.contact__form button {
  background-color: #999;
  border: none;
}

.contact__form button:hover {
  background-color: #4d4d4d;
}

.contact__infos {
  line-height: 1.5rem;
}

.contact__map {
  border: 1px solid #999;
  width: 100%;
  height: 26rem;
}

@media (max-width: 48em) {
  .contact__map {
    height: 17rem;
  }
}

.social-icons {
  color: #999;
}

.social-icons:hover {
  color: black;
}

footer {
  background-color: #f4f4f4;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-top: 3rem;
}

@media (max-width: 64em) {
  footer {
    margin-top: 2rem;
  }
}

@media (max-width: 27em) {
  footer {
    margin-top: 1.5rem;
  }
}

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.footer a {
  color: #999;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 1rem;
}

.footer a:hover {
  text-decoration: none;
  color: black;
}

.nav {
  text-transform: uppercase;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 1rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 112.5em) {
  .nav {
    font-size: 1rem;
    margin: 1.5rem 5rem 3rem 5rem;
  }
}

@media (max-width: 64em) {
  .nav {
    font-size: 0.8rem;
    margin: 1rem 1.5rem;
  }
}

@media (max-width: 48em) {
  .nav {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
}

.nav__icon {
  display: none;
}

@media (max-width: 48em) {
  .nav__icon {
    display: block;
    position: absolute;
    z-index: 50;
  }
}

.nav__icon--active {
  color: white;
  position: fixed;
  opacity: 0.8;
}

@media (max-width: 48em) {
  .nav__menu {
    display: none;
    padding: 2rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background: #00B4DB;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 131, 176, 0.85)), to(rgba(0, 180, 219, 0.85)));
    background: linear-gradient(to right, rgba(0, 131, 176, 0.85), rgba(0, 180, 219, 0.85));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 15px 0 30px 0 rgba(0, 0, 0, 0.11), 5px 0 15px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 30;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

.nav__menu-link {
  color: #999;
}

.nav__menu-link:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 48em) {
  .nav__menu-link {
    color: white;
    padding-top: 0.6rem;
    opacity: 0.8;
  }
}

.nav__menu-link:not(:last-child) {
  margin-right: 1.4rem;
}

@media (max-width: 64em) {
  .nav__menu-link:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 112.5em) {
  .nav__menu-link:not(:last-child) {
    margin-right: 3.5rem;
  }
}

@media (max-width: 27em) {
  .nav__menu-link {
    margin-top: 0.2rem;
  }
}

.nav__menu-link-show {
  display: block;
}

.nav__menu--active {
  display: -webkit-box;
  display: flex;
  -webkit-animation: moveInLeft 0.2s ease-in;
          animation: moveInLeft 0.2s ease-in;
}

.nav__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav__right-title {
  justify-self: end;
  margin-right: 2rem;
  text-decoration: none;
  color: #999;
}

@media (min-width: 112.5em) {
  .nav__right-title {
    margin-right: 3rem;
  }
}

@media (max-width: 64em) {
  .nav__right-title {
    margin-right: 1.3rem;
  }
}

@media (max-width: 48em) {
  .nav__right-title {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
  }
}

.nav__right-title p {
  margin: 0;
}

.nav__right-logo {
  height: 3.5rem;
  padding-bottom: 0.5em;
}

@media (max-width: 48em) {
  .nav__right-logo {
    display: none;
  }
}

@media (min-width: 112.5em) {
  .nav__right-logo {
    height: 5rem;
  }
}

.link-active {
  color: black;
  font-weight: bold;
}

.card-expo {
  width: 100%;
  margin-right: 2%;
  margin-top: 30px;
}

.card-expo img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.empty-text {
  padding-top: 20px;
  padding-left: 20px;
}

.card-header {
  padding: 0.5rem 1.25rem;
}

@media (min-width: 112.5em) {
  .card-header {
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 64em) {
  .card-header {
    padding: 0.4rem 0.75rem;
  }
}

@media (max-width: 27em) {
  .card-header {
    padding: 0.3rem 0.5rem;
  }
}

.news__title {
  font-size: 0.95rem;
}

.news__title:hover {
  text-decoration: none;
}

@media (min-width: 112.5em) {
  .news__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 64em) {
  .news__title {
    font-size: 0.9rem;
  }
}

@media (max-width: 27em) {
  .news__title {
    font-size: 0.85rem;
  }
}

.news__image {
  width: 30%;
}

@media (max-width: 27em) {
  .news__image {
    width: 50%;
  }
}

.partners__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 48em) {
  .partners__list {
    margin-top: 1rem;
  }
}

.partners__list-link {
  padding: 20px 30px 40px 30px;
}

.partners__list-link-image {
  max-width: 12rem;
  max-height: 6rem;
}

@media (min-width: 112.5em) {
  .partners__list-link-image {
    max-width: 16rem;
    max-height: 8rem;
  }
}

@media (max-width: 48em) {
  .partners__list-link-image {
    max-width: 10rem;
    max-height: 5rem;
  }
}

@media (max-width: 27em) {
  .partners__list-link-image {
    max-width: 8rem;
    max-height: 4rem;
  }
}

@media (max-width: 48em) {
  .partner {
    -webkit-box-align: center;
            align-items: center;
  }
}

.partner hr {
  width: 50%;
  margin-left: 0;
}

.partner__infos {
  margin-right: 2rem;
}

@media (max-width: 64em) {
  .partner__infos {
    margin-right: 1rem;
  }
}

.partner__description {
  text-align: justify;
}

.partner__images {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.partner__images-link {
  width: 20%;
}

.partner__images-link img {
  width: 100%;
}

@media (max-width: 48em) {
  .slider-controls {
    display: none;
  }
}

.product__infos {
  margin-top: 3rem;
  margin-right: 4rem;
}

@media (max-width: 64em) {
  .product__infos {
    margin-top: 1rem;
    margin-right: 3rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 48em) {
  .product__infos {
    margin-left: 1rem;
  }
}

@media (max-width: 27em) {
  .product__infos {
    margin: 0.8rem;
    font-size: 0.8rem;
  }
}

.product__infos h1 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

@media (max-width: 64em) {
  .product__infos h1 {
    font-size: 1.5em;
  }
}

.product__infos hr {
  width: 50%;
  margin-left: 0;
}

.product__features {
  font-weight: 300;
  font-style: oblique;
  margin-bottom: 0.1rem;
}

.product__description {
  padding-top: 0.5em;
  text-align: justify;
}

.product__images {
  display: -webkit-box;
  display: flex;
}

@media (max-width: 48em) {
  .product__images {
    margin-right: 1rem;
  }
}

.product__images__list {
  -webkit-box-flex: 1;
          flex: 1;
}

.product__images-main {
  display: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
}

.product__images-thumbnails {
  display: -webkit-box;
  display: flex;
  width: 15%;
  margin-left: 1rem;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.product__images-thumbnails__item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: solid 1px #d2d2d2;
  display: -webkit-box;
  display: flex;
  margin-bottom: 6%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product__images-thumbnails__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.product__images-thumbnails__item-img {
  opacity: 0.6;
}

.product__images-thumbnails__item-img :hover {
  opacity: 1;
}

.product__images-main img,
.product__images-thumbnails__item-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.thumbnail-border,
.product__images-thumbnails__item:hover {
  border: solid 1px #999;
}

.thumbnail-active,
.product__images-thumbnails__item-img:hover {
  opacity: 1;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.products__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.products__list-item {
  margin: 1.2rem;
}

@media (max-width: 64em) {
  .products__list-item {
    margin: 0.8rem;
  }
}

@media (max-width: 48em) {
  .products__list-item {
    margin: 0.5rem;
  }
}

@media (max-width: 27em) {
  .products__list-item {
    margin: 0.2rem;
  }
}

.products__list-item a {
  text-decoration: none;
}

.products__list-item img {
  position: absolute;
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 3%;
}

@media (min-width: 112.5em) {
  .products__list-item img {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 48em) {
  .products__list-item img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 27em) {
  .products__list-item img {
    width: 10rem;
    height: 10rem;
  }
}

.products__list-item-name {
  font-size: 1.5em;
}

.products__list-item--text-wrapper {
  position: relative;
  width: 18.5rem;
  height: 18.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  border-radius: 3%;
}

@media (min-width: 112.5em) {
  .products__list-item--text-wrapper {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 48em) {
  .products__list-item--text-wrapper {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 27em) {
  .products__list-item--text-wrapper {
    width: 10rem;
    height: 10rem;
  }
}

.products__list-item--text-wrapper:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

@media (max-width: 48em) {
  .profile__image {
    padding-left: 1rem;
  }
}

@media (max-width: 27em) {
  .profile__image {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-bottom: 2rem;
  }
}

.profile__image img {
  width: 100%;
}

.profile__bio {
  text-align: justify;
}

@media (max-width: 48em) {
  .profile__bio {
    padding-right: 1rem;
  }
}

@media (max-width: 64em) {
  .profile__bio {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}

.welcome__background {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.welcome__page {
  display: -webkit-box;
  display: flex;
  height: 80%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.welcome__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-animation: logo 1s ease-in;
          animation: logo 1s ease-in;
}

.welcome__logo:hover {
  opacity: 0.7;
}

.welcome__logo img {
  width: 50%;
}

@media (min-width: 112.5em) {
  .welcome__logo img {
    width: 70%;
  }
}

@media (max-width: 48em) {
  .welcome__logo img {
    width: 40%;
  }
}

.welcome__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.welcome__text-title {
  text-transform: uppercase;
  -webkit-animation: moveInBottom 1s ease-in 0.5s;
          animation: moveInBottom 1s ease-in 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  letter-spacing: 0.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #3c3c3b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.welcome__text-title:hover {
  text-decoration: none;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 112.5em) {
  .welcome__text-title {
    letter-spacing: 0.7rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 48em) {
  .welcome__text-title {
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
  }
}

.h-bar {
  width: 10%;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  opacity: 0.5;
  border-bottom: 1px solid #464646;
  -webkit-animation: makeVisible ease-in 1s 1s;
          animation: makeVisible ease-in 1s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 48em) {
  .h-bar {
    width: 15%;
  }
}

@media (max-width: 27em) {
  .h-bar {
    width: 30%;
  }
}

@font-face {
  font-family: "Gill";
  src: url("/font/170912085356Gill.woff") format("woff");
}

html,
body {
  height: 100%;
  font-family: "Gill", sans-serif;
}

body {
  font-size: 90%;
  color: #636b6f;
}

@media (min-width: 112.5em) {
  body {
    font-size: 110%;
  }
}

a {
  color: black;
}

a:hover {
  color: #b1b1b1;
}

.main {
  min-height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.main-content {
  margin-bottom: auto;
}

