.main-image {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("/images/image5.jpg") no-repeat fixed;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/image5.jpg") no-repeat fixed;
  background-size: cover;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.main-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
}

.main-logo a:hover {
  color: black;
}

.logo {
  -webkit-animation: logo 1s ease-in;
          animation: logo 1s ease-in;
}

.logo img {
  width: 50%;
}

.text-sub-logo {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.sub-title {
  -webkit-animation: moveInBottom 1s ease-in;
          animation: moveInBottom 1s ease-in;
  letter-spacing: .5rem;
}

.sub-title:hover {
  color: black;
}

.lang {
  opacity: 0;
  font-size: 1.20em;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: .8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }

  80% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }

  100% {
    opacity: .8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.h-bar {
  border-bottom: 1px solid #999;
}

@font-face {
  font-family: "Gill";
  src: url("/font/170912085356Gill.woff") format("woff");
}

.nav-menu {
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 3rem 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.nav-items {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  height: 60px;
  padding-bottom: 0.5em;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links:not(:first-child) {
  margin-left: 0.7rem;
}

.nav-links:not(:last-child) {
  margin-right: 0.7rem;
}

.nav-text {
  justify-self: end;
  font-size: 0.9rem;
  margin-right: 2rem;
}

.nav-text p {
  margin: 0;
}

.nav-links,
.nav-title {
  text-decoration: none;
  color: #999;
}

.nav-links:hover,
.nav-title:hover {
  text-decoration: none;
  color: black;
}

.nav-icon,
.nav-title {
  display: none;
}

.link-active {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1224px) {
  .nav-menu {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .nav-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav-links {
    padding-right: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-logo {
    display: none;
  }

  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .nav-menu,
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-bottom: 0.8em;
  }

  .nav-items {
    margin-right: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .nav-title {
    -ms-flex-item-align: center;
        align-self: center;
    display: initial;
    position: absolute;
  }

  .nav-text {
    display: none;
  }
}

#slider img {
  max-width: 85%;
  margin: auto;
}

.intro {
  padding-top: 30px;
}

.intro hr {
  width: 80%;
  text-align: center;
}

.intro p {
  font-size: 0.9em;
  line-height: 1.7em;
  text-align: justify;
}

.carousel-control-prev {
  padding-left: 20px;
}

.carousel-control-next {
  padding-right: 20px;
}

.welcome-image {
  width: 100%;
  padding-top: 50px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-item {
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.gallery a {
  text-decoration: none;
}

.gallery-item img {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 3%;
}

.text-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  border-radius: 3%;
}

.text-wrapper:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name {
  font-size: 1.5em;
}

.item-image {
  width: 100%;
}

.item-description {
  margin-top: 3rem;
  margin-right: 6rem;
}

.item-features {
  font-weight: 300;
  font-style: oblique;
  padding-bottom: 0.1em;
}

.item-description h1 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.item-explication {
  padding-top: 0.5em;
  text-align: justify;
}

.img-magnifier-container {
  position: relative;
  padding-bottom: 50px;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #999;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
  opacity: 0;
}

.img-magnifier-container:hover .img-magnifier-glass {
  opacity: 1;
}

.main-img {
  display: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img img,
.thumbnail-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: -14px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -15px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  color: black !important;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__main-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Six columns side by side */

.thumbnails {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: solid 1px #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.thumbnails:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.thumbnails-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumbnail-img {
  opacity: 0.6;
}

.thumbnail-border {
  border: solid 1px #999;
}

.thumbnail-active,
.thumbnail-img:hover {
  opacity: 1;
}

.item-description hr,
.partner-show hr {
  width: 50%;
  margin-left: 0;
}

.partner-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-gallery-partner {
  width: 20%;
}

.img-gallery-partner img {
  width: 100%;
}

.partnership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-partner {
  padding: 20px 30px 40px 30px;
}

.partner__infos {
  margin-right: 2rem;
}

.partner__description {
  text-align: justify;
}

.contact-map {
  border: 1px solid #999;
}

.contact-info {
  line-height: 0.9em;
}

.contact-form {
  padding-right: 50px;
}

.contact-form h2 {
  padding-bottom: 20px;
}

.contact-form button {
  background-color: #999;
  border: none;
}

.contact-form button:hover {
  background-color: #4d4d4d;
}

.social-icons {
  color: #999;
}

.social-icons:hover {
  color: black;
}

@media only screen and (max-width: 1224px) {
  .contact-form {
    padding-right: 10px;
  }

  .contact-info {
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    padding-right: 0;
  }

  .contact-info {
    line-height: 1.5em;
  }
}

footer {
  background-color: #f4f4f4;
  padding: .5rem;
  font-size: 0.8rem;
  margin-top: 3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer a {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.footer a:hover {
  text-decoration: none;
  color: black;
}

.expositions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-expo {
  width: 100%;
  margin-right: 2%;
  margin-top: 30px;
}

.card-expo img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.empty-text {
  padding-top: 20px;
  padding-left: 20px;
}

@media only screen and (max-width: 1224px) {
  .card-expo {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .card-expo {
    width: 100%;
  }
}

.profile-image img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .profile-image {
    margin-left: 0;
    padding-bottom: 20px;
  }
}

@font-face {
  font-family: "Gill";
  src: url("/font/170912085356Gill.woff") format("woff");
}

html,
body {
  height: 100%;
}

a {
  color: black;
}

a:hover {
  color: #b1b1b1;
}

.main {
  min-height: 100%;
  font-family: 'Gill', sans-serif;
  color: #636b6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  margin-bottom: auto;
}

