.contact-map {
	border: 1px solid #999;
}
.contact-info {
	line-height: 1.5rem;
}
.contact-form {
	padding-right: 50px;
}
.contact-form h2 {
	padding-bottom: 20px;
}
.contact-form button {
	background-color: #999;
	border: none;
}
.contact-form button:hover {
	background-color: #4d4d4d;
}
.social-icons {
	color: #999;
}
.social-icons:hover {
	color: black;
}

@media only screen and (max-width: 1224px) {
	.contact-form {
		padding-right: 10px;
	}
	.contact-info {
		line-height: 1.5em;
	}
}

@media only screen and (max-width: 768px) {
	.contact-form {
		padding-right: 0;
	}
	.contact-info {
		line-height: 1.5em;
	}
}