.contact {
	@include screen(tablet) {
        margin-top: 1.5rem;
    }
}
.contact-map {
	border: 1px solid #999;
	width: 100%;
	height: 26rem;
	@include screen(tablet) {
        height: 17rem;
    }
}
.contact-info {
	line-height: 1.5rem;
}
.contact-form {
	padding-right: 50px;
	@include screen(phone) {
        margin-bottom: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.contact-form h3 {
	padding-bottom: 20px;
	@include screen(tablet) {
        font-size: 1.5rem;
    }
}
.contact-form button {
	background-color: #999;
	border: none;
}
.contact-form button:hover {
	background-color: #4d4d4d;
}
.social-icons {
	color: #999;
}
.social-icons:hover {
	color: black;
}
