.contact-map {
	border: 1px solid #999;
}
.contact-info {
	line-height: 0.8em;
}
.contact-form {
	padding-right: 50px;
}
.contact-form h2 {
	padding-bottom: 20px;
}
.contact-form button {
	background-color: #999;
	border: none;
}
.contact-form button:hover {
	background-color: #4d4d4d;
}
.social-icons {
	color: #999;
}
.social-icons:hover {
	color: black;
}