.expositions {
	display: flex;
	// width: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.card-expo {
	width: 100%;
	margin-right: 2%;
	margin-top: 30px;
}
.card-expo img {
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
}
.empty-text {
	padding-top: 20px;
	padding-left: 20px;
}

@media only screen and (max-width: 1224px) {
	.card-expo {
		width: 48%;
	}
}

@media only screen and (max-width: 768px) {
	.card-expo {
		width: 100%;
	}
}
