.card-expo {
	width: 100%;
	margin-right: 2%;
	margin-top: 30px;
}
.card-expo img {
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
}
.empty-text {
	padding-top: 20px;
	padding-left: 20px;
}

.card-header {
	padding: .5rem 1.25rem;
	@include screen(laptop) {
		padding: .4rem .75rem;
    }
    @include screen(phone) {
		padding: .3rem .5rem;
    }
}

.exposition {
	&__title {
		font-size: .95rem;

		&:hover {
			text-decoration: none;
		}

		@include screen(laptop) {
	        font-size: .9rem;
	    }
	    @include screen(phone) {
	        font-size: .85rem;
	    }
	}

	&__image {
		width: 30%;

		@include screen(phone) {
	        width: 50%;
	    }
	}
}