footer {
    background-color: #f4f4f4;
    padding: .5rem;
    font-size: 0.8rem;
    margin-top: 3rem;
    @include screen(laptop) {
        margin-top: 2rem;
    }
    @include screen(phone) {
        margin-top: 1.5rem;
    }
}
.footer {
	display: flex;
    align-items: center;
    justify-content: center;

    & a {
	color: #999;
	display: flex;
	align-items: center;
	margin-right: 1rem;

		&:hover {
			text-decoration: none;
			color: black;
		}
  	}
}
