.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.gallery-item {
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}
.gallery a {
    text-decoration: none;
}
.gallery-item img {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 3%;
}
.text-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  border-radius: 3%;
}
.text-wrapper:hover {
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.name {
  font-size: 1.5em;
}