#slider img {
    max-width: 85%;
    margin: auto;
}
.intro {
    padding-top: 30px;
}
.intro hr {
    width: 80%;
    text-align: center;
}
.intro p {
    font-size: 0.9em;
    line-height: 1.7em;
    text-align: justify;
}
.carousel-control-prev {
    padding-left: 20px;
}
.carousel-control-next {
    padding-right: 20px;
}