// #slider i {
//     color: black;
// }
// #slider a {
//     width: 2%;
// }
#slider img {
    max-width: 85%;
    margin: auto;
}
hr {
    width: 50%;
    text-align: left;
    margin-left: 0
}
.intro p {
    font-size: 0.9em;
    line-height: 1.7em;
    text-align: justify;
}
.carousel-control-prev {
    padding-left: 20px;
}
.carousel-control-next {
    padding-right: 20px;
}