@font-face {
    font-family: "Gill";
    src: url("/font/170912085356Gill.woff") format('woff');
}

.nav {
    &-menu {
        text-transform: uppercase;
        justify-content: space-between;
        margin: 1rem 3rem 3rem 3rem;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }   
    &-items {
        font-size: 0.9em;
        display: flex;
    }
    &-logo {
        height: 60px;
        padding-bottom: 0.5em;
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-links {
        &:not(:first-child) {
            margin-left: 0.7rem;
        }
        &:not(:last-child) {
            margin-right: 0.7rem;
        }
    }
    &-text {
        justify-self: end; 
        font-size: 0.9rem;
        margin-right: 2rem;
        p {
            margin: 0;
        }
    }
    &-links, &-title {
        text-decoration: none;
        color: #999;
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
    &-icon, &-title {
        display: none;
    }
}

.link-active {
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 1224px) {
    .nav-menu {
        margin-left:0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .nav-items {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links {
        padding-right: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        &-links {
            display: none;
            &-show {
                display: flex;
            }
        }
        &-logo {
            display: none;
        }
        &-menu {
            display: flex;
            padding-right: 15px;
            padding-left: 15px;
            align-items: flex-start;
        }
        &-menu, &-items {
            flex-direction: column;
        }
        &-icon {
            display: flex;
            padding-left: 10px;
            padding-bottom: 0.8em;
        }
        &-items {
            margin-right: 0;
            align-items: flex-start;
        }
        &-title {
            align-self: center;
            display: initial;
            position: absolute;
        }
        &-text {
            display: none;
        }
    }
}