@font-face {
    font-family: "Gill";
    src: url("/font/170912085356Gill.woff") format('woff');
}

.nav {
    &-menu {
        text-transform: uppercase;
        padding: 20px;
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
        align-items: center;
    }   
    &-items {
        font-size: 0.9em;
        display: flex;
    }
    &-logo {
        justify-self: center; 
        
        img {
            height: 90px;
            padding-bottom: 0.5em;
        }
    }
    &-links {
        margin-right: 0.7em;
        margin-left: 0.7em;
    }
    &-text {
        justify-self: end; 
        font-size: 0.9em;
        p {
            margin: 0;
        }
    }
    &-links, &-title {
        a {
            text-decoration: none;
            color: #999;
        }
        a:hover {
            color: black;
        }
    }
    &-icon, &-title {
        display: none;
    }
}

@media only screen and (max-width: 1224px) {
    .nav-menu {
        margin-left:0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .nav-items {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links {
        padding-right: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        &-links {
            display: none;
            &-show {
                display: flex;
            }
        }
        &-logo {
            display: none;
        }
        &-menu {
            display: flex;
            padding-right: 15px;
            padding-left: 15px;
            align-items: flex-start;
        }
        &-menu, &-items {
            flex-direction: column;
        }
        &-icon {
            display: flex;
            padding-left: 10px;
            padding-bottom: 0.8em;
        }
        &-items {
            margin-right: 0;
            align-items: flex-start;
        }
        &-title {
            align-self: center;
            display: initial;
            position: absolute;
        }
        &-text {
            display: none;
        }
    }
}