.partner-gallery {
	display: flex;
	align-items: center;
}
.partner__image {
	max-width: 12rem;
	max-height: 6rem;
	@include screen(tablet) {
        max-width: 10rem;
		max-height: 5rem;
    }
    @include screen(phone) {
        max-width: 8rem;
		max-height: 4rem;
    }
}
.img-gallery-partner {
	width: 20%;
}
.img-gallery-partner img {
	width: 100%;
}
.partners__list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@include screen(tablet) {
        margin-top: 1rem;
    }
}
.link-partner {
	padding: 20px 30px 40px 30px;
}
.partner__infos {
	margin-right: 2rem;
	@include screen(laptop) {
        margin-right: 1rem;
    }
}
.partner__main {
	@include screen(tablet) {
        align-items: center;
    }
}
.partner__description {
	text-align: justify;
}
.slider-controls {
	@include screen(tablet) {
        display: none;
    }
}