.item-image {
    width: 100%
}
.item-description {
  margin-top: 3rem;
  margin-right: 4rem;
  @include screen(laptop) {
    margin-top: 1rem;
    margin-right: 3rem;
    font-size: 0.85rem;
  }
  @include screen(tablet) {
    margin-left: 1rem;
  }
  @include screen(phone) {
    margin: .8rem;
    font-size: 0.8rem;
  }
}
.item-features {
  font-weight: 300;
  font-style: oblique;
  margin-bottom: 0.1rem;
}
.item-description h1 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0.5rem;
  @include screen(laptop) {
    font-size: 1.5em;
  } 
}
.item-explication {
  padding-top: 0.5em;
  text-align: justify;
}

.main-img {
  display: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
  align-items: center;
}

.main-img img, .thumbnail-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: -14px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: -15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: black !important;
  transform: scale(1.5);
}

.product__images {
  display: flex;
  @include screen(tablet) {
    margin-right: 1rem;
  }
}

.product__main-image {
  flex: 1;
}

/* Six columns side by side */
.thumbnails {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border: solid 1px #d2d2d2;
  display: flex;
  margin-bottom: 10%;
  align-items: center;
  transition: all .3s;
}

.thumbnails:hover {
  transform: scale(1.05);
}

.thumbnails-row {
  display: flex;
  width: 15%;
  margin-left: 1rem;
  margin-top: 2rem;
  // align-items: center;
  // justify-content: start;
  // flex-wrap: wrap;
  flex-direction: column;
}

.thumbnail-img {
  opacity: 0.6;
}

.thumbnail-border {
  border: solid 1px #999;
}

.thumbnail-active,
.thumbnail-img:hover {
  opacity: 1;
}

.item-description hr, .partner-show hr {
    width: 50%;
    margin-left: 0;
}