.product {
  &__infos {
    margin-top: 3rem;
    margin-right: 4rem;
    @include screen(laptop) {
      margin-top: 1rem;
      margin-right: 3rem;
      font-size: 0.85rem;
    }
    @include screen(tablet) {
      margin-left: 1rem;
    }
    @include screen(phone) {
      margin: .8rem;
      font-size: 0.8rem;
    }
  
    & h1 {
      font-size: 2em;
      font-weight: 700;
      padding-bottom: 0.5rem;
      @include screen(laptop) {
        font-size: 1.5em;
      } 
    }
    hr {
      width: 50%;
      margin-left: 0;
    }
  }
  &__features {
    font-weight: 300;
    font-style: oblique;
    margin-bottom: 0.1rem;
  }
  &__description {
    padding-top: 0.5em;
    text-align: justify;
  }
  
  &__images {
    display: flex;
    @include screen(tablet) {
      margin-right: 1rem;
    }
    &__list {
      flex: 1;
    }
    &-main {
      display: none;
      width: 100%;
      padding-top: 100%;
      position: relative;
      align-items: center;
    }
    &-thumbnails {
      display: flex;
      width: 15%;
      margin-left: 1rem;
      margin-top: 2rem;
      flex-direction: column;

      &__item {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border: solid 1px #d2d2d2;
        display: flex;
        margin-bottom: 6%;
        align-items: center;
        transition: all .3s;

        &:hover {
          transform: scale(1.03);
        }

        &-img {
          opacity: 0.6;
          :hover {
            opacity: 1;
          }
        }
      }
    }
    &-main img, &-thumbnails__item-img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
}

.thumbnail-border, .product__images-thumbnails__item:hover {
  border: solid 1px #999;
}

.thumbnail-active, .product__images-thumbnails__item-img:hover {
  opacity: 1;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
// .prev,
// .next {
//   cursor: pointer;
//   position: absolute;
//   top: 40%;
//   width: auto;
//   font-size: 20px;
//   border-radius: 0 3px 3px 0;
// }

// /* Position the "next button" to the right */
// .next {
//   right: -14px;
//   border-radius: 3px 0 0 3px;
// }
// /* Position the "prev button" to the left */
// .prev {
//   left: -15px;
// }

// .prev:hover,
// .next:hover {
//   color: black !important;
//   transform: scale(1.5);
// }

