.prev-icon:hover,
.next-icon:hover {
  color: black !important;
  transform: scale(1.5);
}

/* Six columns side by side */
.thumbnails {
  width: 15%;
  padding-top: 15%;
  border: solid 1px #d2d2d2;
  align-items: center;
}

.thumbnails:hover {
  transform: scale(1.05);
}

.thumbnail-img {
  opacity: 0.5;
}

.thumbnail-border {
  border: solid 1px #999;
}

.thumbnail-active,
.thumbnail-img:hover {
  opacity: 1;
}