.main-image {
	height: 100vh;
    background-repeat: no-repeat;
  	background-size: cover;
    background-position: center;
}

.landing-page {
	display: flex;
	height: 80%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-logo a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	animation: logo 1s ease-in;

	&:hover {
		opacity: .7;
	}
	
	& img {
		width: 55%;

        @include screen(tablet) {
            width: 40%;
        }
	}
}
.text-sub-logo {
	display: flex;
	align-items:  center;
	justify-content: center;
	font-size: 1.1rem;
}

.sub-title {
	text-transform: uppercase;
    animation: moveInBottom 1s ease-in .5s;
    animation-fill-mode: backwards;
    letter-spacing: .5rem;
    backface-visibility: hidden;
    color: #3c3c3b;
	transition: all .2s;

    &:hover {
    	text-decoration: none;
    	color: black;
    	transform: scale(1.05);
    }


    @include screen(tablet) {
        letter-spacing: .2rem;
        font-size: 1rem;
    }
}
// .lang {
// 	opacity: 0;
// 	font-size: 1.20em;
// }

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    80% {
        transform: translateY(-0.7rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes makeVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}

.h-bar {
	width: 10%;
	margin-top: 1.2rem;
	margin-bottom: .8rem;
	opacity: .5;
	border-bottom: 1px solid #464646;
	animation: makeVisible ease-in 1s 1s;
    animation-fill-mode: backwards;

    @include screen(tablet) {
        width: 15%;
    }
    
    @include screen(phone) {
        width: 30%;
    }
}

