.main-image {
	height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/image5.jpg') no-repeat fixed;
  	background-size: cover;
}

.landing-page {
	display: flex;
	height: 70%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}
.main-logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
}
.main-logo a:hover {
	color: black;
}
.logo {
	animation: logo 1s ease-in;
	
	& img {
		width:50%;
	}
}
.text-sub-logo {
	padding-top: 1em;
	display: flex;
	align-items:  center;
	justify-content: center;
	font-size: 1rem;
	// opacity: 0;
}
.sub-title {
    animation: moveInBottom 1s ease-in;
    letter-spacing: .5rem;

    &:hover {
    	color: black;
    }
}
.lang {
	opacity: 0;
	font-size: 1.20em;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    80% {
        transform: translateY(-0.7rem);
    }
    100% {
        opacity: .8;
        transform: translateY(0);
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.h-bar {
	border-bottom: 1px solid #999;
}
