@import 'welcome';
@import 'menu';
@import 'home';
@import 'gallery';
@import 'product';
@import 'partner';
@import 'contact';
@import 'footer';
@import 'expositions';
@import 'profile';

@font-face {
    font-family: "Gill";
    src: url("/font/170912085356Gill.woff") format('woff');
}

html, body {
    height:100%;
}
a {
    color: black;
}
a:hover {
    color: #b1b1b1;
}
.main {
    min-height: 100%;
    font-family: 'Gill', sans-serif;
    // margin:0;
    color: #636b6f;
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    &-content {
        margin-bottom: auto;
    }
}

