@import 'welcome';
@import 'menu';
@import 'home';
@import 'gallery';
@import 'product';
@import "~flickity/css/flickity.css";
@import 'flickity';

@font-face {
    font-family: "Gill";
    src: url("/font/170912085356Gill.woff") format('woff');
}

html, body {
    color: #636b6f;
    font-family: 'Gill', sans-serif;
    height:100%;
    margin:0;
}

@tailwind preflight;

@tailwind components;

a {
    @apply text-grey-dark;
    
    &:hover {
        @apply text-black no-underline;
    }
}

@tailwind utilities;