//utilities
@import 'variables';
@import 'mixins';
@import 'animations';

//pages
@import 'contact';
@import 'footer';
@import 'gallery';
@import 'home';
@import 'menu';
@import 'news';
@import 'partner';
@import 'product';
@import 'profile';
@import 'welcome';

@font-face {
    font-family: "Gill";
    src: url("/font/170912085356Gill.woff") format('woff');
}

html, body {
    height:100%;
    font-family: $font-family;
}
body {
    font-size: $font-size-base;
    color: #636b6f;
    @include screen(xl) {
        font-size: 130%;
    }
}
a {
    color: black;
}
a:hover {
    color: #b1b1b1;
}
.main {
    min-height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    &-content {
        margin-bottom: auto;
    }
}

